In [2]:
# webscrapping libraries
from bs4 import BeautifulSoup
import requests
import re
import pandas as pd
import numpy as np
from selenium import webdriver
from selenium.webdriver.common.keys import Keys
from selenium.webdriver import Keys, ActionChains
from selenium.webdriver.common.actions.action_builder import ActionBuilder
from time import time, sleep
from selenium.webdriver.common.by import By
from selenium.webdriver.support.ui import WebDriverWait
from selenium.webdriver.support import expected_conditions as EC

In [82]:
df_master = pd.DataFrame(columns=list(car_card_dict.keys()))

In [4]:
# get the url
radius = 100
page_num = 1

url = f'https://www.carsforsale.com/search?searchtypeid=2&zipcode=11413&radius={radius}&pagenumber={page_num}&orderby=relevance&orderdirection=desc'

driver = webdriver.Firefox()
driver.get(url)

In [63]:
car_card = driver.find_elements(By.CLASS_NAME, 'snapshot')

In [64]:
car_card

[<selenium.webdriver.remote.webelement.WebElement (session="6f87e3d8-e627-4186-bdc8-26ccf172a89d", element="9510a6dc-75e6-4628-aae5-ed6c02da1f29")>,
 <selenium.webdriver.remote.webelement.WebElement (session="6f87e3d8-e627-4186-bdc8-26ccf172a89d", element="538becf0-4515-4e09-ac5d-96263602ab17")>,
 <selenium.webdriver.remote.webelement.WebElement (session="6f87e3d8-e627-4186-bdc8-26ccf172a89d", element="5e0f6628-3101-4081-ac00-3e598dc1243c")>,
 <selenium.webdriver.remote.webelement.WebElement (session="6f87e3d8-e627-4186-bdc8-26ccf172a89d", element="625b17e7-cd9c-4161-9e87-37f348cff56f")>,
 <selenium.webdriver.remote.webelement.WebElement (session="6f87e3d8-e627-4186-bdc8-26ccf172a89d", element="9f05864d-ba1b-4970-88a7-6c23f5ccce56")>,
 <selenium.webdriver.remote.webelement.WebElement (session="6f87e3d8-e627-4186-bdc8-26ccf172a89d", element="ffddae39-fbf4-42c1-b0a4-2e05e5da95da")>,
 <selenium.webdriver.remote.webelement.WebElement (session="6f87e3d8-e627-4186-bdc8-26ccf172a89d", element="9606cc23-10a2-4726-8a0d-4411aae636ba")>,
 <selenium.webdriver.remote.webelement.WebElement (session="6f87e3d8-e627-4186-bdc8-26ccf172a89d", element="6dcf5f99-0893-4f5e-8502-2574e2353f99")>,
 <selenium.webdriver.remote.webelement.WebElement (session="6f87e3d8-e627-4186-bdc8-26ccf172a89d", element="32b5101f-1662-4bee-99d1-d60f1dd96fa0")>,
 <selenium.webdriver.remote.webelement.WebElement (session="6f87e3d8-e627-4186-bdc8-26ccf172a89d", element="6fdb9ca3-d2e5-4803-ad12-102039ffab0b")>,
 <selenium.webdriver.remote.webelement.WebElement (session="6f87e3d8-e627-4186-bdc8-26ccf172a89d", element="39be9054-2cef-422d-881c-afe9ebf401c1")>,
 <selenium.webdriver.remote.webelement.WebElement (session="6f87e3d8-e627-4186-bdc8-26ccf172a89d", element="5806129b-d1e3-4353-9f02-5dac78da2ebc")>,
 <selenium.webdriver.remote.webelement.WebElement (session="6f87e3d8-e627-4186-bdc8-26ccf172a89d", element="d435393a-2b03-4453-b642-e46a8200b8fd")>,
 <selenium.webdriver.remote.webelement.WebElement (session="6f87e3d8-e627-4186-bdc8-26ccf172a89d", element="8ff11600-d859-4eef-aba6-94363a826e3b")>,
 <selenium.webdriver.remote.webelement.WebElement (session="6f87e3d8-e627-4186-bdc8-26ccf172a89d", element="35350965-9703-46a6-901d-a73f583259b5")>]

In [100]:
for k in range(1, 10):
    radius = 100
    # page_num = 1

    url = f'https://www.carsforsale.com/search?searchtypeid=2&zipcode=11413&radius={radius}&pagenumber={k}&orderby=relevance&orderdirection=desc'

    driver = webdriver.Firefox()
    driver.get(url)
    sleep(5)
    for i in car_card:
        single_card_card = i.text
        car_split =  single_card_card.split('\n')
        car_card_dict = {}
        car_card_dict['Year'] = car_split[0].split(' ')[0]
        # print(car_card_dict['Year'])
        car_card_dict['Make'] = car_split[0].split(' ')[1]
        # print(car_card_dict['Make'])
        car_card_dict['Model'] = ' '.join(car_split[0].split(' ')[2:])
        # print(car_card_dict['Model'])
        car_card_dict['Price'] = car_split[2].split(' ')[0]
        # print(car_card_dict['Price'])
        car_card_dict['Mileage'] = car_split[3].split(' ')[0]
        # print(car_card_dict['Mileage'])
        car_card_dict['Post_Age'] = car_split[9].split(' ')[0]
        # print(car_card_dict['Post_Age'])
        for j in car_split:
            if j.find('mi.') > 0:
                car_card_dict['Distance'] = re.findall(r'\d+', j)
        # print(car_card_dict['Distance'])
        df_car_card = pd.DataFrame(car_card_dict, index=[0])
        print(df_car_card)
        df_master = pd.concat([df_master, df_car_card], axis=0)

   Year   Make    Model    Price Mileage Post_Age Distance
0  2022  Tesla  Model 3  $26,900  11,939        2       29
   Year Make Model    Price Mileage Post_Age Distance
0  2021  BMW    X3  $29,988   1,818        9       10
   Year    Make   Model    Price Mileage Post_Age Distance
0  2020  Nissan  Sentra  $16,900   9,670        0       21
   Year Make     Model    Price Mileage Post_Age Distance
0  2021  Kia  Sportage  $18,995  14,600        0       67
   Year Make     Model    Price Mileage Post_Age Distance
0  2022  BMW  5 Series  $36,995   6,302        2       11
   Year    Make     Model    Price Mileage Post_Age Distance
0  2021  Toyota  GR Supra  $50,999   6,213        3       27
   Year           Make     Model     Price Mileage Post_Age Distance
0  2022  Mercedes-Benz  SL-Class  $115,995     815        4       37
   Year  Make   Model    Price Mileage Post_Age Distance
0  2020  Ford  Escape  $15,495  34,193        0       37
   Year    Make    Model    Price Mileage Post_Age Distance
0  2021  Subaru  Outback  $26,950  10,948        0       35
   Year   Make    Model    Price Mileage Post_Age Distance
0  2022  Tesla  Model Y  $29,999  16,757        0       93
   Year  Make  Model    Price Mileage Post_Age Distance
0  2023  Ford  F-150  $81,700   2,036        1       61
   Year           Make Model    Price Mileage Post_Age Distance
0  2023  Mercedes-Benz   EQS  $63,995     720        5       37
   Year  Make   Model    Price Mileage Post_Age Distance
0  2022  Ford  Bronco  $50,800   5,869        6       28
   Year    Make     Model    Price Mileage Post_Age Distance
0  2021  Subaru  Forester  $24,295  19,781        0       37
   Year  Make             Model    Price Mileage Post_Age Distance
0  2024  Ford  F-250 Super Duty  $55,890       5        2       61
   Year   Make    Model    Price Mileage Post_Age Distance
0  2022  Tesla  Model 3  $26,900  11,939        2       29
   Year Make Model    Price Mileage Post_Age Distance
0  2021  BMW    X3  $29,988   1,818        9       10
   Year    Make   Model    Price Mileage Post_Age Distance
0  2020  Nissan  Sentra  $16,900   9,670        0       21
   Year Make     Model    Price Mileage Post_Age Distance
0  2021  Kia  Sportage  $18,995  14,600        0       67
   Year Make     Model    Price Mileage Post_Age Distance
0  2022  BMW  5 Series  $36,995   6,302        2       11
   Year    Make     Model    Price Mileage Post_Age Distance
0  2021  Toyota  GR Supra  $50,999   6,213        3       27
   Year           Make     Model     Price Mileage Post_Age Distance
0  2022  Mercedes-Benz  SL-Class  $115,995     815        4       37
   Year  Make   Model    Price Mileage Post_Age Distance
0  2020  Ford  Escape  $15,495  34,193        0       37
   Year    Make    Model    Price Mileage Post_Age Distance
0  2021  Subaru  Outback  $26,950  10,948        0       35
   Year   Make    Model    Price Mileage Post_Age Distance
0  2022  Tesla  Model Y  $29,999  16,757        0       93
   Year  Make  Model    Price Mileage Post_Age Distance
0  2023  Ford  F-150  $81,700   2,036        1       61
   Year           Make Model    Price Mileage Post_Age Distance
0  2023  Mercedes-Benz   EQS  $63,995     720        5       37
   Year  Make   Model    Price Mileage Post_Age Distance
0  2022  Ford  Bronco  $50,800   5,869        6       28
   Year    Make     Model    Price Mileage Post_Age Distance
0  2021  Subaru  Forester  $24,295  19,781        0       37
   Year  Make             Model    Price Mileage Post_Age Distance
0  2024  Ford  F-250 Super Duty  $55,890       5        2       61
   Year   Make    Model    Price Mileage Post_Age Distance
0  2022  Tesla  Model 3  $26,900  11,939        2       29
   Year Make Model    Price Mileage Post_Age Distance
0  2021  BMW    X3  $29,988   1,818        9       10
   Year    Make   Model    Price Mileage Post_Age Distance
0  2020  Nissan  Sentra  $16,900   9,670        0       21
   Year Make     Model    Price Mileage Post_Age Distance
0  2021  Kia  Sportage  $18,995  14,600        0       67
   Year Make     Model    Price Mileage Post_Age Distance
0  2022  BMW  5 Series  $36,995   6,302        2       11
   Year    Make     Model    Price Mileage Post_Age Distance
0  2021  Toyota  GR Supra  $50,999   6,213        3       27
   Year           Make     Model     Price Mileage Post_Age Distance
0  2022  Mercedes-Benz  SL-Class  $115,995     815        4       37
   Year  Make   Model    Price Mileage Post_Age Distance
0  2020  Ford  Escape  $15,495  34,193        0       37
   Year    Make    Model    Price Mileage Post_Age Distance
0  2021  Subaru  Outback  $26,950  10,948        0       35
   Year   Make    Model    Price Mileage Post_Age Distance
0  2022  Tesla  Model Y  $29,999  16,757        0       93
   Year  Make  Model    Price Mileage Post_Age Distance
0  2023  Ford  F-150  $81,700   2,036        1       61
   Year           Make Model    Price Mileage Post_Age Distance
0  2023  Mercedes-Benz   EQS  $63,995     720        5       37
   Year  Make   Model    Price Mileage Post_Age Distance
0  2022  Ford  Bronco  $50,800   5,869        6       28
   Year    Make     Model    Price Mileage Post_Age Distance
0  2021  Subaru  Forester  $24,295  19,781        0       37
   Year  Make             Model    Price Mileage Post_Age Distance
0  2024  Ford  F-250 Super Duty  $55,890       5        2       61
   Year   Make    Model    Price Mileage Post_Age Distance
0  2022  Tesla  Model 3  $26,900  11,939        2       29
   Year Make Model    Price Mileage Post_Age Distance
0  2021  BMW    X3  $29,988   1,818        9       10
   Year    Make   Model    Price Mileage Post_Age Distance
0  2020  Nissan  Sentra  $16,900   9,670        0       21
   Year Make     Model    Price Mileage Post_Age Distance
0  2021  Kia  Sportage  $18,995  14,600        0       67
   Year Make     Model    Price Mileage Post_Age Distance
0  2022  BMW  5 Series  $36,995   6,302        2       11
   Year    Make     Model    Price Mileage Post_Age Distance
0  2021  Toyota  GR Supra  $50,999   6,213        3       27
   Year           Make     Model     Price Mileage Post_Age Distance
0  2022  Mercedes-Benz  SL-Class  $115,995     815        4       37
   Year  Make   Model    Price Mileage Post_Age Distance
0  2020  Ford  Escape  $15,495  34,193        0       37
   Year    Make    Model    Price Mileage Post_Age Distance
0  2021  Subaru  Outback  $26,950  10,948        0       35
   Year   Make    Model    Price Mileage Post_Age Distance
0  2022  Tesla  Model Y  $29,999  16,757        0       93
   Year  Make  Model    Price Mileage Post_Age Distance
0  2023  Ford  F-150  $81,700   2,036        1       61
   Year           Make Model    Price Mileage Post_Age Distance
0  2023  Mercedes-Benz   EQS  $63,995     720        5       37
   Year  Make   Model    Price Mileage Post_Age Distance
0  2022  Ford  Bronco  $50,800   5,869        6       28
   Year    Make     Model    Price Mileage Post_Age Distance
0  2021  Subaru  Forester  $24,295  19,781        0       37
   Year  Make             Model    Price Mileage Post_Age Distance
0  2024  Ford  F-250 Super Duty  $55,890       5        2       61
   Year   Make    Model    Price Mileage Post_Age Distance
0  2022  Tesla  Model 3  $26,900  11,939        2       29
   Year Make Model    Price Mileage Post_Age Distance
0  2021  BMW    X3  $29,988   1,818        9       10
   Year    Make   Model    Price Mileage Post_Age Distance
0  2020  Nissan  Sentra  $16,900   9,670        0       21
   Year Make     Model    Price Mileage Post_Age Distance
0  2021  Kia  Sportage  $18,995  14,600        0       67
   Year Make     Model    Price Mileage Post_Age Distance
0  2022  BMW  5 Series  $36,995   6,302        2       11
   Year    Make     Model    Price Mileage Post_Age Distance
0  2021  Toyota  GR Supra  $50,999   6,213        3       27
   Year           Make     Model     Price Mileage Post_Age Distance
0  2022  Mercedes-Benz  SL-Class  $115,995     815        4       37
   Year  Make   Model    Price Mileage Post_Age Distance
0  2020  Ford  Escape  $15,495  34,193        0       37
   Year    Make    Model    Price Mileage Post_Age Distance
0  2021  Subaru  Outback  $26,950  10,948        0       35
   Year   Make    Model    Price Mileage Post_Age Distance
0  2022  Tesla  Model Y  $29,999  16,757        0       93
   Year  Make  Model    Price Mileage Post_Age Distance
0  2023  Ford  F-150  $81,700   2,036        1       61
   Year           Make Model    Price Mileage Post_Age Distance
0  2023  Mercedes-Benz   EQS  $63,995     720        5       37
   Year  Make   Model    Price Mileage Post_Age Distance
0  2022  Ford  Bronco  $50,800   5,869        6       28
   Year    Make     Model    Price Mileage Post_Age Distance
0  2021  Subaru  Forester  $24,295  19,781        0       37
   Year  Make             Model    Price Mileage Post_Age Distance
0  2024  Ford  F-250 Super Duty  $55,890       5        2       61
   Year   Make    Model    Price Mileage Post_Age Distance
0  2022  Tesla  Model 3  $26,900  11,939        2       29
   Year Make Model    Price Mileage Post_Age Distance
0  2021  BMW    X3  $29,988   1,818        9       10
   Year    Make   Model    Price Mileage Post_Age Distance
0  2020  Nissan  Sentra  $16,900   9,670        0       21
   Year Make     Model    Price Mileage Post_Age Distance
0  2021  Kia  Sportage  $18,995  14,600        0       67
   Year Make     Model    Price Mileage Post_Age Distance
0  2022  BMW  5 Series  $36,995   6,302        2       11
   Year    Make     Model    Price Mileage Post_Age Distance
0  2021  Toyota  GR Supra  $50,999   6,213        3       27
   Year           Make     Model     Price Mileage Post_Age Distance
0  2022  Mercedes-Benz  SL-Class  $115,995     815        4       37
   Year  Make   Model    Price Mileage Post_Age Distance
0  2020  Ford  Escape  $15,495  34,193        0       37
   Year    Make    Model    Price Mileage Post_Age Distance
0  2021  Subaru  Outback  $26,950  10,948        0       35
   Year   Make    Model    Price Mileage Post_Age Distance
0  2022  Tesla  Model Y  $29,999  16,757        0       93
   Year  Make  Model    Price Mileage Post_Age Distance
0  2023  Ford  F-150  $81,700   2,036        1       61
   Year           Make Model    Price Mileage Post_Age Distance
0  2023  Mercedes-Benz   EQS  $63,995     720        5       37
   Year  Make   Model    Price Mileage Post_Age Distance
0  2022  Ford  Bronco  $50,800   5,869        6       28
   Year    Make     Model    Price Mileage Post_Age Distance
0  2021  Subaru  Forester  $24,295  19,781        0       37
   Year  Make             Model    Price Mileage Post_Age Distance
0  2024  Ford  F-250 Super Duty  $55,890       5        2       61
   Year   Make    Model    Price Mileage Post_Age Distance
0  2022  Tesla  Model 3  $26,900  11,939        2       29
   Year Make Model    Price Mileage Post_Age Distance
0  2021  BMW    X3  $29,988   1,818        9       10
   Year    Make   Model    Price Mileage Post_Age Distance
0  2020  Nissan  Sentra  $16,900   9,670        0       21
   Year Make     Model    Price Mileage Post_Age Distance
0  2021  Kia  Sportage  $18,995  14,600        0       67
   Year Make     Model    Price Mileage Post_Age Distance
0  2022  BMW  5 Series  $36,995   6,302        2       11
   Year    Make     Model    Price Mileage Post_Age Distance
0  2021  Toyota  GR Supra  $50,999   6,213        3       27
   Year           Make     Model     Price Mileage Post_Age Distance
0  2022  Mercedes-Benz  SL-Class  $115,995     815        4       37
   Year  Make   Model    Price Mileage Post_Age Distance
0  2020  Ford  Escape  $15,495  34,193        0       37
   Year    Make    Model    Price Mileage Post_Age Distance
0  2021  Subaru  Outback  $26,950  10,948        0       35
   Year   Make    Model    Price Mileage Post_Age Distance
0  2022  Tesla  Model Y  $29,999  16,757        0       93
   Year  Make  Model    Price Mileage Post_Age Distance
0  2023  Ford  F-150  $81,700   2,036        1       61
   Year           Make Model    Price Mileage Post_Age Distance
0  2023  Mercedes-Benz   EQS  $63,995     720        5       37
   Year  Make   Model    Price Mileage Post_Age Distance
0  2022  Ford  Bronco  $50,800   5,869        6       28
   Year    Make     Model    Price Mileage Post_Age Distance
0  2021  Subaru  Forester  $24,295  19,781        0       37
   Year  Make             Model    Price Mileage Post_Age Distance
0  2024  Ford  F-250 Super Duty  $55,890       5        2       61
   Year   Make    Model    Price Mileage Post_Age Distance
0  2022  Tesla  Model 3  $26,900  11,939        2       29
   Year Make Model    Price Mileage Post_Age Distance
0  2021  BMW    X3  $29,988   1,818        9       10
   Year    Make   Model    Price Mileage Post_Age Distance
0  2020  Nissan  Sentra  $16,900   9,670        0       21
   Year Make     Model    Price Mileage Post_Age Distance
0  2021  Kia  Sportage  $18,995  14,600        0       67
   Year Make     Model    Price Mileage Post_Age Distance
0  2022  BMW  5 Series  $36,995   6,302        2       11
   Year    Make     Model    Price Mileage Post_Age Distance
0  2021  Toyota  GR Supra  $50,999   6,213        3       27
   Year           Make     Model     Price Mileage Post_Age Distance
0  2022  Mercedes-Benz  SL-Class  $115,995     815        4       37
   Year  Make   Model    Price Mileage Post_Age Distance
0  2020  Ford  Escape  $15,495  34,193        0       37
   Year    Make    Model    Price Mileage Post_Age Distance
0  2021  Subaru  Outback  $26,950  10,948        0       35
   Year   Make    Model    Price Mileage Post_Age Distance
0  2022  Tesla  Model Y  $29,999  16,757        0       93
   Year  Make  Model    Price Mileage Post_Age Distance
0  2023  Ford  F-150  $81,700   2,036        1       61
   Year           Make Model    Price Mileage Post_Age Distance
0  2023  Mercedes-Benz   EQS  $63,995     720        5       37
   Year  Make   Model    Price Mileage Post_Age Distance
0  2022  Ford  Bronco  $50,800   5,869        6       28
   Year    Make     Model    Price Mileage Post_Age Distance
0  2021  Subaru  Forester  $24,295  19,781        0       37
   Year  Make             Model    Price Mileage Post_Age Distance
0  2024  Ford  F-250 Super Duty  $55,890       5        2       61
   Year   Make    Model    Price Mileage Post_Age Distance
0  2022  Tesla  Model 3  $26,900  11,939        2       29
   Year Make Model    Price Mileage Post_Age Distance
0  2021  BMW    X3  $29,988   1,818        9       10
   Year    Make   Model    Price Mileage Post_Age Distance
0  2020  Nissan  Sentra  $16,900   9,670        0       21
   Year Make     Model    Price Mileage Post_Age Distance
0  2021  Kia  Sportage  $18,995  14,600        0       67
   Year Make     Model    Price Mileage Post_Age Distance
0  2022  BMW  5 Series  $36,995   6,302        2       11
   Year    Make     Model    Price Mileage Post_Age Distance
0  2021  Toyota  GR Supra  $50,999   6,213        3       27
   Year           Make     Model     Price Mileage Post_Age Distance
0  2022  Mercedes-Benz  SL-Class  $115,995     815        4       37
   Year  Make   Model    Price Mileage Post_Age Distance
0  2020  Ford  Escape  $15,495  34,193        0       37
   Year    Make    Model    Price Mileage Post_Age Distance
0  2021  Subaru  Outback  $26,950  10,948        0       35
   Year   Make    Model    Price Mileage Post_Age Distance
0  2022  Tesla  Model Y  $29,999  16,757        0       93
   Year  Make  Model    Price Mileage Post_Age Distance
0  2023  Ford  F-150  $81,700   2,036        1       61
   Year           Make Model    Price Mileage Post_Age Distance
0  2023  Mercedes-Benz   EQS  $63,995     720        5       37
   Year  Make   Model    Price Mileage Post_Age Distance
0  2022  Ford  Bronco  $50,800   5,869        6       28
   Year    Make     Model    Price Mileage Post_Age Distance
0  2021  Subaru  Forester  $24,295  19,781        0       37
   Year  Make             Model    Price Mileage Post_Age Distance
0  2024  Ford  F-250 Super Duty  $55,890       5        2       61

In [91]:
make_dict = {
    'Acura': 85,
    'Alfa Romeo': 3,
    'Aston Martin': 100,
    'Audi': 50,
    'Bentley': 2,
    'BMW': 25,
    'Buick': 45,
    'Cadillac': 1,
    'Chevrolet': 55,
    'Chrysler': 1,
    'Dodge': 55,
    'Ferrari': 100,
    'Fiat': 1,
    'Ford': 60,
    'Genesis': 55,
    'GMC': 55,
    'Honda': 100,
    'Hyundai': 30,
    'Infiniti': 45,
    'Jaguar': 30,
    'Jeep': 55,
    'Kia': 30,
    'Lamborghini': 100,
    'Land Rover': 30,
    'Lexus': 85,
    'Lincoln': 60,
    'Lotus': 30,
    'Maserati': 30,
    'Mazda': 85,
    'McLaren': 100,
    'Mercedes-Benz': 55,
    'MINI': 45,
    'Mitsubishi': 55,
    'Nissan': 55,
    'Porsche': 30,
    'Subaru': 85,
    'Tesla': 25,
    'Toyota': 100,
    'Volkswagen': 55,
    'Volvo': 55
}

In [101]:
df_master['Score'] = [make_dict[i] for i in df_master['Make']]

In [102]:
df_master.sort_values(by='Score', ascending=False, inplace=True)

In [103]:
df_master.drop_duplicates(subset=['Year', 'Make', 'Model', 'Mileage', 'Post_Age', 'Distance'], inplace=True)

In [104]:
df_master

,Year,Make,Model,Price,Mileage,Post_Age,Distance,Score
0,2021,Toyota,GR Supra,"$50,999","6,213",3,27,100
0,2021,Subaru,Forester,"$24,295","19,781",0,37,85
0,2021,Subaru,Outback,"$26,950","10,948",0,35,85
0,2022,Ford,Bronco,"$50,800","5,869",6,28,60
0,2024,Ford,F-250 Super Duty,"$55,890",5,2,61,60
0,2023,Ford,F-150,"$81,700","2,036",1,61,60
0,2020,Ford,Escape,"$15,495","34,193",0,37,60
0,2020,Nissan,Sentra,"$16,900","9,670",0,21,55
0,2022,Mercedes-Benz,SL-Class,"$115,995",815,4,37,55
0,2023,Mercedes-Benz,EQS,"$63,995",720,5,37,55
0,2021,Kia,Sportage,"$18,995","14,600",0,67,30
0,2022,BMW,5 Series,"$36,995","6,302",2,11,25
0,2022,Tesla,Model Y,"$29,999","16,757",0,93,25
0,2022,Tesla,Model 3,"$26,900","11,939",2,29,25
0,2021,BMW,X3,"$29,988","1,818",9,10,25

In [87]:
df_master['Make'].unique()

array(['Tesla', 'BMW', 'Nissan', 'Kia', 'Toyota', 'Mercedes-Benz', 'Ford',
       'Subaru'], dtype=object)

In [52]:
car_split

['2021 BMW X3',
 'AWD xDrive30i 4dr Sports Activity Vehicle',
 '$29,988 $446/mo*',
 '1,818 miles',
 'Engine:',
 '2.0L I4',
 'Drivetrain:',
 'AWD',
 'Days Listed',
 '9',
 'PRICE',
 '$2,468 below avg.',
 'MILEAGE',
 '58,812 miles below avg.',
 'Virtual Appointments',
 'Virtual Financing',
 'Online Paperwork',
 'Brooklyn VW',
 'Brooklyn, NY • 10 mi. away',
 'Get a Free Vehicle History Report',
 'CALL',
 'EMAIL']

In [79]:
for j in car_split:
    if j.find('mi.') > 0:
        re.findall(r'\d+', j)

Quogue, NY • 61 mi. away
['61']

In [49]:
car_split[14].split(' ')

['Virtual', 'Appointments']

In [47]:
car_card_dict['Distance'] = car_split[15].split(' ')[3]

IndexError: list index out of range

In [43]:
single_card_card

'2024 Ford F-250 Super Duty\n4x4 XLT 2dr Regular Cab 8 ft. LB Pickup\n$55,890 $732/mo*\n5 miles\nEngine:\n7.3L V8\nDrivetrain:\n4X4\nDays Listed\n2\nPRICE\n$6,747 below avg.\nMILEAGE\n396 miles below avg.\nOtis Ford Corp\nQuogue, NY • 61 mi. away\nGet a Free Vehicle History Report\nCALL\nEMAIL'

In [30]:
print(car_card.text.split('\n'))

AttributeError: 'list' object has no attribute 'text'

In [10]:
car_split =  car_card.text.split('\n')

In [26]:
car_split[15].split(' ')[3]
# car_split[0].split(' ')[1]
# car_split[0].split(' ')[2:]

'29'

In [27]:
car_split =  car_card.text.split('\n')
car_card_dict = {}
car_card_dict['Year'] = car_split[0].split(' ')[0]
car_card_dict['Make'] = car_split[0].split(' ')[1]
car_card_dict['Model'] = ' '.join(car_split[0].split(' ')[2:])
car_card_dict['Price'] = car_split[2].split(' ')[0]
car_card_dict['Mileage'] = car_split[3].split(' ')[0]
car_card_dict['Post_Age'] = car_split[9].split(' ')[0]
car_card_dict['Distance'] = car_split[15].split(' ')[3]

In [34]:
df_car_card = pd.DataFrame(car_card_dict, index=[0])

In [35]:
pd.concat([df_master, df_car_card], axis=0)

   Year   Make    Model    Price Mileage Post_Age Distance
0  2022  Tesla  Model 3  $26,900  11,939        2       29

In [28]:
car_card_dict

{'Year': '2022',
 'Make': 'Tesla',
 'Model': 'Model 3',
 'Price': '$26,900',
 'Mileage': '11,939',
 'Post_Age': '2',
 'Distance': '29'}